.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    width: 350px;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}


.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio__item_image{
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.btn{
    margin-top: 1rem;
}

@media screen and (max-width: 1280px){
    .portfolio__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        
      

    }

}
@media screen and (max-width: 800px){
    .portfolio__container{
        grid-template-columns: 1fr;
    
    }
    .portfolio__item{
        margin: 0 auto;
    }
}

.center{
    color: var(--color-primary);
    text-align: center;
}

.class2{
    text-align: justify;
}